
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding-bottom: 50px;
}


h1.wallet-title {
  color: white;
  text-shadow: none;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0; 

}

body.wallets-page .navbar {
  display: none;
}

header {
  background-image: url('OffChangeX.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: auto;
  width: 100%;
  text-align: center;
}


main {
  flex: 1;
  padding: 20px;
}

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.wallet-item {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px;
  margin: 10px;
  text-decoration: none;
  outline: none;
  color: inherit;
}

.card {
  background: linear-gradient(to bottom, rgba(33, 36, 146, 0.9), rgba(98, 42, 163, 0.9));
  height: 150px;
}

.card-title,
.card-info,
.card-balance {
  color: white;
}

.card-title {
  font-size: 0,5em !important;
  margin: 10px 0 5px 0px !important;
  font-family: 'Helvetica Neue', sans-serif;
  color: white !important;
  font-weight: normal !important;
}

.card-info {
  font-size: 0.9em;
  letter-spacing: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: 'Helvetica Neue', sans-serif;
}

.card-balance {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
  font-family: 'Helvetica Neue', sans-serif;
}

.wallet-buttons {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.wallet-buttons .btn {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wallet-buttons .btn-back {
  background-color: #6c757d;
}

.wallet-buttons .btn-new-wallet {
  background: linear-gradient(to bottom, rgba(33, 36, 146, 0.7), rgba(98, 42, 163, 0.7));
}

.wallet-buttons .btn:hover {
  background-color: transparent;
}
