@import 'wallets/form';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  padding-bottom: 50px;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
}

.wallet-title {
  font-size: 2em;
  margin: 0;
  color: black;
}

main {
  flex: 1;
  padding: 20px;
}

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.wallet-item {
  background: linear-gradient(to bottom, rgba(33, 36, 146, 0.7), rgba(98, 42, 163, 0.7));
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px;
  margin: 10px;
  text-decoration: none;
  outline: none;
  color: inherit;
}

.wallet-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
  padding: 20px;
}

.card-title,
.card-info,
.card-balance {
  font-size: 1.5em;
  color: #000000;
  margin: 0;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-info {
  font-size: 1.2em;
  color: #6c757d;
  margin-bottom: 10px;
}

.card-balance {
  font-weight: bold;
}

.card-title:hover {
  color: black;
}

.wallet-buttons {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .btn {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.btn-back {
      background-color: #6c757d;
    }

    &.btn-new-wallet {
      background: linear-gradient(to bottom, rgba(33, 36, 146, 0.7), rgba(98, 42, 163, 0.7));
    }

    &:hover {
      background-color: darken(#000, 10%);
    }
  }
}
