header {
  background-image: url('OffChangeX.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: auto;
  width: 100%;
  text-align: left; /* Align text to the left within the header */
  position: relative; /* Establish positioning context for child elements */
}

h1.wallet-title,
.header-subtitle {
  font-family: 'Arial', sans-serif; /* Change to the desired font family */
  color: white; /* Set the font color to white */
  text-shadow: none; /* Remove the shadow */
  margin: 0; /* Remove default margin */
}

h1.wallet-title {
  font-size: 2em; /* Adjusted font size for the title */
}

.header-subtitle {
  font-size: 1em; /* Adjusted font size for the subtitle */
  margin-top: 5px;
}

/* Add more styles or adjustments as needed */

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* This will center the cards in the container */
  align-items: flex-start; /* This aligns items to the top of the container */
  gap: 10px; /* This adds space between the cards */
  padding: 10px; /* Optional: Adds padding inside the container */
}


.wallet-item {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px;
  height: 300px;
  margin: auto; /* Auto margin for horizontal centering */
  text-decoration: none;
  outline: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


.card {
  background-image: url('OffChangeX.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
  position: relative;
  border-radius: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  i.fa-solid {
    font-size: 36px;
  }
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
  color: goldenrod;
  text-shadow: 0 0 5px goldenrod;
  letter-spacing: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 3em; /* Adjust based on your line-height */
  line-height: 1.5em; /* Adjust as needed */
  white-space: normal;
  text-overflow: ellipsis;
}

.card-info-main {
  color: goldenrod;
  text-shadow: 0 0 5px goldenrod;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 25px;
}

.card-info {
  font-size: 0.9em;
  letter-spacing: 15px;
  margin-bottom: 10px;
  font-family: 'Helvetica Neue', sans-serif;
}

.card-balance {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}

.wallet-buttons {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wallet-buttons .btn {
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, #622aa3, #212492);
  color: goldenrod;
  text-decoration: none;
  border-radius: 4px;
  align-items: center;
  margin: 10px;
  font-weight: 500;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 140px;
}

.wallet-buttons .btn-back {
  background-color: #6c757d;
  background-image: none;
  color: white;
}

.wallet-buttons .btn-new-wallet {
}

.wallet-buttons .btn:hover {
  background-color: transparent;
}
