#amount-section {
  text-align: center;
  padding-top: 15px;

  background: rgb(98,42,163);
  background: linear-gradient(0deg, rgba(98,42,163,1) 0%, rgba(98,42,163,0.6178804285386029) 78%, rgba(253,187,45,0.8307655826002276) 100%);
  width: 100%;           /* Sets the width to full viewport width */
  height: 100vh;         /* Sets the height to full viewport height */
  margin: 0;             
 }


.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  margin-bottom: 10px;
}

.button-container {
  margin-top: 10px;
}

#convert-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#currency-pairs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

span {
  font-weight: bold;
  margin-right: 10px;
}
