body.exclude-navbar .navbar {
  display: none;
}

body {
  background-image: none;
}

.hero {
  text-align: center;
  margin-top: 8px;
  background-image: url("OffChangeX.png");
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image in the div */
  background-size: cover; /* Covers the entire div without stretching the image */
  margin-bottom: 8px;
  border-radius: 16px;
  color: white;
}

input, select, textarea {
  border: none;
  outline: none;
  /* To remove the default browser outline on focus */
  box-shadow: none;
  /* If there's a box shadow being applied */
}

.button-container {
  margin-top: 10px;
}

.form-inputs {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
  color: black;
  border-radius: 8px;

  .form-label {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    color: black;
  }
}

#convert-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 24px;
  cursor: pointer;
  border-radius: 5px;
}

#currency-pairs {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

span {
  font-weight: bolder;
  margin-right: 10px;
  letter-spacing: 1px;
  color: white;
}

.exchange-heading {
  margin-top: 12px;
  padding: 8px 24px;
  color: black;
  text-shadow: 0 0 0px;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

#navhome{
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  h3{
    align-self: center;
  }
}
