.page-title {
  margin-bottom: 20px;
  color: red;
}

.wallets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.wallet-item {
  background-color: black;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e2e6ea;
  }

  p {
    margin: 0;
  }

  p:first-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff;
  }

  p:nth-child(2) {
    font-size: 1em;
    color: #6c757d;
  }

  p:nth-child(3) {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
  }
}

.link-buttons {
  margin-top: 20px;
  text-align: center;

  a {
    margin-right: 10px;
  }
}
