<h1>Stores</h1>

<% @stores.each do |store| %>
  <div>
    <h2><%= link_to store.name, store %></h2>
    <p>Location: <%= store.location %></p>

  </div>
<% end %>

<%= link_to 'New Store', new_store_path %>
