<div class="dropdown">
  <button class="dropbtn">&#9776;</button>
  <div class="dropdown-content">
    <%= link_to "New Transaction", new_transaction_path %>
    <%= link_to "Wallets", wallets_path %>
    <%= link_to "Stores", stores_path %>
  </div>
</div>
