<div class="card">
  <h5 class="card-title">Wallet Information</h5>
  <div class="card-body">
    <% if current_user.main_wallet.present? %>
      <p class="card-info">Balance: <%= number_to_currency(current_user.main_wallet.balance) %></p>
    <% else %>
      <p class="card-info">No main wallet found for the current user.</p>
    <% end %>
  </div>
</div>
