#checkout{
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid goldenrod;
  padding: 15px 0 5px 0;
  box-shadow:  goldenrod 0px 0px 3px;
  margin-bottom: 40px;
}

#checkout h2{
  color: goldenrod;
  text-shadow: goldenrod 0px 0px 3px;
  font-weight: bolder;
  font-size: x-large;
}

#checkout p{
  color: goldenrod;
  text-shadow: goldenrod 0px 0px 3px;
  font-weight: bolder;
}

#checkout hr{
  color: goldenrod;
  text-shadow: goldenrod 0px 0px 3px;
}
