#checkout {
  z-index: 1;
  border-radius: 20px;
  border: 1px solid white;
  padding: 15px 0 5px 0;
  box-shadow: white 0px 0px 3px;
  margin-bottom: 120px;
  max-width: 500px;
  margin: 0 auto;

  hr {
    border: 1px solid goldenrod;
    margin: 10px 0;
  }
}

#checkout h2 {
  color: goldenrod;
  font-weight: bolder;
  font-size: x-large;
}

#checkout p {
  display: flex;
  justify-content: space-between;
  color: goldenrod;
  font-weight: bolder;
  margin-left: 30px;
  margin-right: 30px;
}

#checkout hr {
  color: goldenrod;
  display: none;
}

#checkout .thicker-line {
  border-top: 2px solid white;
  margin-bottom: 10px;
}
