body.exclude-navbar .navbar {
  display: none;
}

body {
  background-color: white;
  background-image: none;
}

.form-exchange {
  max-width: 400px;
  margin: 12px auto;
  padding: 12px;
  background-color: none;
  border: none;
  border-radius: 12px;
  box-shadow: none;


  .custom-prompt,
  .custom-dropdown {
    color: #495057;
    font-size: 16px;
  }

  .field {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
      color: #495057 !important;
      font-size: 16px;
      text-align: left !important;
    }

    input {
      width: 100%;
      padding: 16px;
      border: 1px solid #ced4da;
      border-radius: 6px;
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }

  .actions {
    text-align: center;
  }

  .form-actions {
    text-align: center;

    .btn {
      margin-top: 24px;
      padding: 12px 24px;
      text-decoration: none;
      color: #ffffff;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background-image: linear-gradient(to bottom, #622aa3, #212492);
      color: goldenrod;
      align-items: center;
      font-weight: 500;
      font-size: 16px;

      &.btn-create-transaction {
        background: linear-gradient(to bottom, rgba(33, 36, 146, 0.7), rgba(98, 42, 163, 0.7));
      }

      &:hover {
        background-color: darken(#000, 10%);
      }
    }
  }
  @media (min-width: 1180px) {
    .form-exchange {
      max-width: 600px; /* Increase vertical margin for tap targets */
    }
  }
}
