/* Link Styles */
a {
  color: black; /* Sets the link color to black */
  font-family: 'Rethink Sans', sans-serif; /* Specifies the font family */
  text-decoration: none; /* Removes the underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
  font-weight: 300; /* Slightly bold for prominence */
}

/* Hover Effect */
a:hover {
  color: #622aa3; /* Change color on hover to desired color */
  transform: scale(1.05); /* Slight zoom effect on hover */
}
