.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #622aa3, #212492);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 120px;
}

