.navbar-lewagon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #622aa3, #212492);
  z-index: 1000; /* Set a z-index value to ensure it's above other elements */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 120px;
}

.navbar-lewagon .navbar-collapse .nav-link {
  color: goldenrod;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
}
