.wallet-info {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px; /* Adjust the width as needed */
  margin: 0 auto;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card {
    padding: 20px;
    text-align: center;
  }

  .card-title {
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;

    &:hover {
      color: #007bff;
    }
  }

  .card-info {
    font-size: 1.2em;
    color: #6c757d;
    margin-bottom: 10px;
  }

  .card-balance {
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    margin: 0;
  }
}
