@import 'components/dropdown';
@import 'components/wallet_info';
@import 'components/currency_list';
@import 'components/add_currency_button_styles';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

body {
  margin: 10px;
  padding: 10px;
  padding-bottom: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // font-family: 'Open Sans', sans-serif;
  // font-family: Arial, sans-serif;
  background-image: url("OffChangeX.png");
  background-position: right;
  background-size: cover;
  color: #000;
}

h1{
  color: goldenrod;
  text-shadow: 0 0 5px goldenrod;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'REM', sans-serif;
  font-size: 35px;
}

.banner {
  background-color: transparent;
  color: #000;
  padding: 10px;
  text-align: center;
}

.header {
  background-color: #ffffff;
  color: #000;
  padding: 10px;
  text-align: left;
}

.currency-list {

  margin: 20px;
}

.currency-rectangle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  background: white;
}

.flag-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
}

.currency-details {
  text-align: left;
  flex: 1;
}

.currency-code {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.currency-name {
  margin-top: 5px;
  color: #555;
}

.currency-rectangle .currency-details .currency-name {
  margin-top: 5px;
  font-size: 0.9em; /* Adjust the font size as needed */
  color: #555;
}

.currency-value {
  font-weight: bold;
  color: black;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}


.top-value {
  font-weight: bold;
  color: black;
}

.bottom-value {
  color: black;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

.currency-separator {
  width: 1px;
  height: 100%;
  background-color: black;
  margin: 0 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.store-button, .exchange-currency-button {

  padding: 10px;
  background: linear-gradient(to bottom, #622aa3, #212492);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  margin-top: 3px;
}

.last-updated {
  color: white !important;
  text-align: left;
  margin: 0;
  padding: 0;
}






// .flag-icon-us {
//   background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNDgwIj4KICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjQ4MCIgZmlsbD0iYmRhIj4KICAgIDxkYXRhIGZpbGw9ImJsYWNrIiBzcmM9Ii8vaW1hZ2UvZm9ybXMvd2VicGFjay9EZXZlbG9wbWVudFN5bnRheC5zc2w/ZG93bmxvYWQ9MApmb3JtZXJwYXJlbnQ9ImF1dG9tYXRlN2E2ODA1ODg5MTciPgogIDwvcmVjdD4KPC9zdmc+Cg==') center center no-repeat;
// }

// .flag-icon-eu {
//   background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNDgwIj4KICA8cmVjdCBmaWxsPSIjMTJhNjQ5IiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjQ4MCIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgIDxjYXJkIGZpbGw9ImJsYWNrIiAvPgogIDwvcmVjdD4KPC9zdmc+Cg==') center center no-repeat;
// }

// .flag-icon-gb {
//   background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNDgwIj4KICA8cmVjdCBmaWxsPSIjZmZmIiB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQ4MCIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgIDxkYXRhIGZpbGw9IiNmZmYiIHdpZHRoPSIzMjAiIGhlaWdodD0iNDgwIiAvPgogICAgICAgICA8cmVmcyBmaWxsPSIjZmZmIiAvPgogICAgICAgIDxkYXRhIGZpbGw9IiNmZmYiIHdpZHRoPSIyMTMuMzMiIGhlaWdodD0iNDgwIiAvPgogICAgICAgIDxkYXRhIGZpbGw9IiMwMTIxNjkiIHdpZHRoPSIyMTMuMzMiIGhlaWdodD0iNDgwIiAvPgogICAgPC9yZWN0Pgo8L3N2Zz4K') center center no-repeat;
// }

.exchange-currency-button {
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 15px;
  width: 175px;
  margin-top: 3px;
  display: inline-block;

  &:hover {
    color: #FFBD59;
    text-shadow: 0 0 5px goldenrod;
  }
}

#navhome{
  display: flex;
  justify-content: space-between;

}

.flag{
  align-self: center;
}

.flag-icon {
  width: 40px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  margin-right: 10px;
  background-size: cover;
  border-radius: 0; /* Remove the circular border-radius */
}

