  <div id="navhome" data-controller="flag" data-flag-key-value="<%= ENV['EMOJI_API_KEY'] %>">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
    <% if user_signed_in? %>
    <h3 class="flag" data-flag-target="place"></h3>
    <% end %>
  </div>
<%= render "form", transaction: @transaction %>
